*{
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: sans-serif;
  background-color: #FAFAF8;
}

.header-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.7rem;
  border-width: 1px;
  border-radius: 5px;
  border-style: solid;
  border-color: #e0e0e0;
}

.header-container>img {
  height: 60px;
}
header >h1{
  font-weight: 400;
}
main{
  padding: 30px 30px 10px;
}

.form-ingredient{
  display: flex;
  justify-content: center;
  gap: 1rem;
  height: 40px;
}

.form-ingredient > input{
  border-radius: 6px;
  border: 1px solid #D1D508;
  padding: 9px 13px;
  box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.05);
  flex-grow: 1;
  min-width: 150px;
  max-width: 400px;
}
.form-ingredient > button{
  font-family:  sans-serif;
  border-radius: 6px;
  border: none;
  background-color: #141413;
  color: #FAFAF8;
  width: 150px;
  font-size: 0.87rem;
  font-weight: 500;
}
.form-ingredient >button::before{
  content: "+";
  margin-right: 5px;
}